.wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 10px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 999px;
        &-track {
            background: #fff;
        }
        &-thumb {
            background: rgb(209, 209, 209);
            border-radius: 999px;
        }
    }
}
