.wrapper {
    padding: 20px;
    max-width: 320px;
    min-width: 320px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatar {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
        }

        .follow-btn {
            padding: 6px 16px;
        }
    }

    .body {
        margin-top: 12px;
        color: #161823;

        .nick-name {
            font-size: 1.8rem;
            align-items: center;

            .check {
                font-size: 1.4rem;
                color: #20d5ec;
                margin-left: 4px;
            }
        }

        .name {
            font-size: 1.4rem;
        }

        .analytics {
            font-size: 1.8rem;
            margin-top: 10px;

            .value {
                margin-right: 6px;
                & ~ .value {
                    margin-left: 20px;
                }
            }

            .label {
                color: #161823bf;
            }
        }
    }
}
